body {
  width: 100%;
  height: 100vh;
  font-family: "Montserrat", Verdana, sans-serif;
  margin: 0px;
}

.my-container {
  width: 100%;
}

.nav-1 {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-bar {
  position: fixed;
  z-index: 9;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  gap: 40px;
  background-color: white;
  border-bottom: solid 1px #dbdbdb;;
}

#logo {
  font-family: "Montserrat", Verdana, sans-serif;
  line-height: 18px;
  font-size: 16px;
  font-weight: 400;
  margin: 0px;
  padding-left: 20px;
  color: rgb(47, 47, 47);
  letter-spacing: 5px;
}

.nav-list {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-right: 20px;
}

#avatar {
  width: 46px;
  height: 46px;
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 170ms;
}

#avatar > img {
  width: 40px;
  height: 40px;
}

.top-element {
  z-index: 9;
}

#avatar:hover {
  background-color: #B59410;
  font-size: larger;
}

#profile > img {
 color: rgb(47, 47, 47);
}

.profile-button {
  position: relative;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-button:hover .dropdown{
  visibility: visible;
}
.dropdown {
  visibility: hidden;
  position: absolute;
  top: 40px;
  left: -105px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 220px;
  height: 120px;
  background-color: white;
  align-items: center;
  justify-content: center;
}
.dropdown-account {
  height: 200px;
}
.dropdown-button {
  width: 166px;
  height: 40px;
  color: rgb(47, 47, 47);
  font-size: 11px;
  border: solid 1px rgb(47, 47, 47);
  padding-left: 20px;
  padding-top: 15px;
  transition: background-color 170ms;
}

.dropdown-button:hover {
  border: none;
  color: white;
  background-color: #B59410;
} 

.dropdown p {
  color: black;
}

#cart-button {
  position: relative;
}

#cart-item-count {
  position: absolute;
  top: -5px;
  left: 12px;
  background-color: #B59410;
  width: 20px;
  height: 15px;
  text-align: center;
  border-radius: 10px;
  font-size: 3px;
}

#cart-item-count p {
  font-size: 12px;
  color: white;
}