.product-container {
    display: flex;
    gap: 130px;
    width: 100%;;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.img-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.product-main-img {
    width: 455px;
    height: 455px;
    border-radius: 15px;
}

.thumbnail-card {
    display: flex;
    gap: 26px;
}

.thumbnail {
    position: relative;
    width: 94px;
    height: 94px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.thumbnail-image {
    width: 88px;
    height: 88px;
    border-radius: 8px;
}

.thumbnail-mask {
    top: 3px;
    left: 3px;
    position: absolute;
    width: 88px;
    height: 88px;
    border-radius: 7px;
    background-color: white;
    opacity: 0;
    transition: opacity 170ms;
}

.thumbnail-mask:hover {
    opacity: 0.7;
}

.thumbnail:hover {
    background-color: #B59410;
}

.content-card {
    display: flex;
    flex-direction: column;
    width: 445px;
}

.content-card h1 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.content-card > p {
    line-height: 25px;
}

#company-name {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}

.price-discount {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.price-discount h2 {
    font-size: 32px;
    margin: 0px;
}

#price {
    font-weight: bold;
    font-family: "Montserrat", Verdana, sans-serif;
}

.discount {
    width: 50px;
    height: 25px;
    background-color: black;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount > p {
    color: white;
    font-size: 15px;
}
#old-price {
    font-weight: bold;
    text-decoration: line-through;
    margin-bottom: 5px; 
}
.buy {
    display: flex;
    gap: 15px;
}
#add-more {
    width: 182px;
    height: 52px;
    border-radius: 6px;
    background-color: hsl(223, 64%, 98%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#add-to-cart {
    width: 274px;
    height: 56px;
    border-radius: 8px;
    background-color: black;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

#add-to-cart:hover {
    background-color: #B59410;
}

#minus-button {
    width: 65px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#add-button {
    width: 65px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*445 56 */