p {
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
    color: gray;
}
.active {
    color: #B59410;
    font-weight: bold;
}
a {
    font-family: "Montserrat", Verdana, sans-serif;
    margin: 0px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color:rgb(47, 47, 47);
    text-decoration: none;
    transition: font-size 200ms;
}