.product-image{
    width: 380px;
    height: 380px;
}

.product-name {
    font-size: 16px;
    line-height: 30px;
    color: rgb(47, 47, 47);
    font-weight: 600;
    font-family: "Montserrat", Verdana, sans-serif;
}

.product-price {
    font-family: "Montserrat", Verdana, sans-serif;
    line-height: 28px;
    font-weight: 400;
    color: rgb(47, 47, 47);
}

.product-rating {
    display: flex;
}

.star {
    width: 18px;
    height: 18px;
}
.product-card {
    position: relative;
}

.image-mask {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 380px;
    height: 380px;
    background-color: white;
    opacity: 0;
    transition: opacity 500ms;
}

.product-card:hover .image-mask{
    opacity: 0.7;
}